
<div class="movieDetails" *ngIf="movieObj">
    <div class="heroImg" 
    [style.backgroundImage]="'linear-gradient(90deg,black,transparent),url(' + backgroundImg +')'"
    >
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
          <div class="movieInfoCaption">
            <img src="https://image.tmdb.org/t/p/original/{{movieObj.production_companies[0].logo_path}}" alt="" class="movieProdLogo">
        </div>
        <h4 class="movieTitle">
            {{movieObj.name || movieObj.original_title}}
        </h4>
        <ul class="releaseDetails text-white">
            <li>{{movieObj.release_date}}</li>
            <li>{{movieObj.adult ? 'A' : 'U'}}</li>
            <li>{{movieObj.runtime}}</li>
            <li>{{getGenres(movieObj.genres)}}</li>
        </ul>
        <p class="overview text-white">
            {{movieObj.overview}}
        </p>
        <p class="staring">
            starring : 
        </p>
          </div>
     </div>
</div>  
    </div>
</div>
<!-- style="background-image: url(https://image.tmdb.org/t/p/original/{{movieObj?.backdrop_path || movieObj.poster_path}})"> -->