::ng-deep{
    .mainSlider{
        .owl-carousel {
          
          .owl-item img{
          height: 100vh;
          border: 5px solid red;
          object-fit: cover;
          }
          .owl-prev, .owl-next{
            position: absolute;
            top: 50%;
            background-color: transparent;
          }
          .owl-prev{
            left: 3%;
          }
          .owl-next{
            right: 3%;
          }
        }
        .mainCaption {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-image: linear-gradient(93deg, black, transparent 85% , transparent);
          width: 40%;
          padding: 75px 0 0 40px;
          line-height: 1.5;
          h2{
            font-size: 64px !important;
            color: #fff;
           margin-bottom: 50px;
          }
          p{
            font-size: 24px;
            color: #fff;
          }
      }
    }
}